---
title: "Viewport Grid Example Sample"
class: examples
layout: html.hbs
---

<div class="container grid-example leader-1">
  <div class="column-4 pre-5 post-6"><span>4 pre-5 post-6</span></div>
  <div class="column-4 pre-2"><span>4 pre-2</span></div>

  <div class="column-24">
    <div class="column-10 pre-2 post-1"><span>column-10.pre-2 post-1</span></div>
    <div class="column-10 pre-1 last-column"><span>column-10.pre-1</span></div>
    <div class="column-1 first-column"><span>1</span></div>
  </div>
</div>